<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FInal Project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1DACDB72442B2F8000F35D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DACDCD2442B2FC000F35D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DACDD82442B2FC000F35D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
